@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>This is a project CRM for a Realestate Company</h3>

<p>
    I'm happy to se you're interested in my final course project on .NET. <br /> 
    I've created a Customer Relationship Managment application using MVC. <br />
    It provides some basic functionalities, with a clear and easy to use interface <br />
    both for agent's use and employee managment.
    </p>
